// $progress-bar-bg-color: blue;
$progress-bar-bg-color: rgba(116, 188, 68, 0.75);

.blue-green-overlay:before {
  content: ' ';
  background: #04a8d5;
  background: -moz-linear-gradient(top, #04a8d5 0%, #04a8d5 40%, #04cbd5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #04a8d5), color-stop(40%, #04a8d5), color-stop(100%, #04cbd5));
  background: -webkit-linear-gradient(top, #04a8d5 0%, #04a8d5 40%, #04cbd5 100%);
  background: -o-linear-gradient(top, #04a8d5 0%, #04a8d5 40%, #04cbd5 100%);
  background: -ms-linear-gradient(top, #04a8d5 0%, #04a8d5 40%, #04cbd5 100%);
  background: linear-gradient(to bottom, #04a8d5 0%, #04a8d5 40%, #04cbd5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04a8d5', endColorstr='#04cbd5', GradientType=0 );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #3c692f 0%, rgba(40, 126, 104, 0.8) 80%, rgba(73, 143, 126, 0.75) 100%);
  background: linear-gradient(to bottom, #3c692f 0%, rgba(89, 126, 40, 0.8) 80%, rgba(104, 143, 73, 0.75) 100%);
}

.et_pb_section {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: 100%;
  -moz-background-size: cover;
  background-size: 100%;
  background-size: cover;
}

.progress_label{
  color: #3097d1;
  color: #336b8a;
  padding-left: 10px;
  position: relative;
  // this adds a green chevron sticking into the white part of the progress bar
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-left: 7px solid;
    border-left-color: $progress-bar-bg-color;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

#leaderboard_title_bar {
  padding-bottom: 2em;
  padding-top: 2em;
  h2 {
    color: #d8e2e6;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  }
}

#leaderboard_bars {
  text-shadow:   0px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 1.3em;
  font-weight: bolder;
  .progress {
    overflow: hidden;
    height: 30px;
    margin-bottom: 22px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
    line-height: 1.7;
    .progress-bar {
      position: relative;
      padding: 0 1px;
      line-height: 1.9;
      background-color: $progress-bar-bg-color;
      min-width: 3.5%;
      font-size: .8em;
      color: #2a4a60;
      text-shadow: 0px 1px 1px rgba(32, 23, 104, 0.8);  

      // this adds a white chevron sticking into the green pogress bar
      // &:after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   width: 100%;
      //   height: 0;
      //   border-right: 7px solid #f5f5f5;
      //   border-top: 15px solid transparent;
      //   border-bottom: 15px solid transparent;
      // }
    }
  }
}

#leaderboard_table {
  color: #d8e2e6;
  box-shadow: 0px 8px 5px 3px rgba(0, 0, 0, 0.25);
  border: 3px solid;
  font-weight: 900;
    border-radius: 6px;
  .pic img {
    height: 2em;
    border-radius: 15px;
  }
}
//
// .box{
//     margin: auto;
// 	  background: #eee;
// 	  border: 3px solid transparent;
// 	  // -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
// 	  // -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
// 	  // border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);
//     border-image: linear-gradient(to bottom right, #f6e6b4 0%,#ed9017 100%);
//     position: relative;
// 	  border-image-slice: 1;
//     &::after {
//       position: fixed;
//       top: -4px; bottom: -4px;
//       left: -4px; right: -4px;
//       background: linear-gradient(red, blue);
//       content: '';
//       z-index: -1;
//       border-radius: 3px;
//     }
// 	}
